<h1>List Of Authors:</h1>
<% @ordered_authors.each do |author| %>
<div class="row">
  <h1 class=" xs-small-margin font-kern link-visited"><span style="color:#591D0A"><h3><%= link_to author.name, author_path(author.id) %></h3></span></h1>
</div>
<div class="row">
  <div class="hidden-xs hidden-sm col-md-4 bahia couriernew"><%= image_tag author.picture, class: "img-responsive img-extra-rounded" %> </div>
  <div class="hidden-xs hidden-sm col-md-5 lightgrey couriernew" id="date">on <a href="http://www.turfandcattle.com/date-this" class="social-media"> <%= author.created_at %></a></div>
</div>
<% end %>
